{% extends "task_opened.html"%}
{% block content %}
{% if title == 'Квадратное уравнение' %}
        <form>
            <div>Решение квадратного уравнения</div>
        </form>
 {% elif title == 'Линейное уравнение' %}
        <form>
            <div>Решение линейного уравнения</div>
        </form>
 {% elif title == 'Пример на сложение' %}
        <form>
            <div>Решение примера на сложение</div>
        </form>
 {% elif title == 'Пример на вычитание' %}
        <form>
            <div>Решение примера на вычитание</div>
        </form>
 {% elif title == 'Пример на умножение' %}
        <form>
            <div>Решение примера на умножение</div>
        </form>
 {% elif title == 'Пример на деление' %}
        <form>
            <div>Решение примера на деление</div>
        </form>
 {% endif %}
{% endblock %}