{% extends "task_opened.html" %}

{% block content %}
<body>
{% if title == 'Квадратное уравнение' %}
<form>
    <h1>Решение квадратного уравнения</h1>
    <h1>Наше уравнение: {{ task }}</h1>
    <body>
    {% for item in solution_log %}
    <h2>{{ item }}</h2>
    {% endfor %}
    </body>
</form>
{% elif title == 'Линейное уравнение' %}
<h1>Решение линейного уравнения</h1>
    <h1>Наше уравнение: {{ task }}</h1>
    <body>
    {% for item in solution_log %}
    <h2>{{ item }}</h2>
    {% endfor %}
    </body>
{% elif title == 'Пример на сложение' %}
<h1>Решение примера на сложение</h1>
    <h1>Наш пример: {{ task }}</h1>
    <body>
    {% for item in solution_log %}
    <h2>{{ item }}</h2>
    {% endfor %}
    </body>
{% elif title == 'Пример на вычитание' %}
<h1>Решение примера на вычитание</h1>
    <h1>Наш пример: {{ task }}</h1>
    <body>
    {% for item in solution_log %}
    <h2>{{ item }}</h2>
    {% endfor %}
    </body>
{% elif title == 'Пример на умножение' %}
<h1>Решение примера на умножение</h1>
    <h1>Наш пример: {{ task }}</h1>
    <body>
    {% for item in solution_log %}
    <h2>{{ item }}</h2>
    {% endfor %}
    </body>
{% elif title == 'Пример на деление' %}
<h1>Решение примера на деление</h1>
    <h1>Наш пример: {{ task }}</h1>
    <body>
    {% for item in solution_log %}
    <h2>{{ item }}</h2>
    {% endfor %}
    </body>
</body>
{% endif %}
{% endblock %}